{% extends 'website/_layouts/modelo-ifpr.html' %}
{% load static %}

{% block content %}

<h3 class="mb-4">Lista de comprovantes registrados</h3>

<a class="btn btn-primary mb-3" href="{% url 'records:register-receipt' %}">Cadastrar</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Progressão</th>
            <th>Atividade</th>
            <th>Data</th>
            <th>Data final</th>
            <th>Servidor</th>
            <th>Arquivo</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
    {% for receipt in receipts %}
        <tr>
            <td>{{ receipt.progression }}</td>
            <td>{{ receipt.activity }}</td>
            <td>{{ receipt.initial_date }}</td>
            <td>{{ receipt.final_date }}</td>
            <td>{{ receipt.user }}</td>
            <td>{{ receipt.file }}</td>
            <td>
                <a class="btn btn-warning btn-sm" href="{% url 'records:update-receipt' receipt.id %}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a class="btn btn-danger btn-sm" href="{% url 'records:delete-receipt' receipt.id %}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5"><strong>Nenhuma informação cadastrada</strong></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}