{% extends 'website/_layouts/modelo-ifpr.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    {% if request.user.is_authenticated  %}
    <div class='col mx-auto'>
        <h3>Ação não permitida</h3>
        <hr>
        <p class="lead">
            <strong>Erro de processamento</strong>
        </p> 
    </div>
    {% else %}
    <div class="col mx-auto">

        <h3 class="mb-4">Registrar Usuário</h3>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <input class="btn btn-primary" type="submit" value="Cadastrar">
            <a class="btn btn-secondary" href="{% url 'auth:login' %}">Login</a>
        </form>
    </div>
    {% endif %}
</div>
{% endblock content %}
